# Simon Benninga's Financial Modeling, 4th edition
## Part II: Portfolio Models
### Chapter 10: Calculating the Variance-Covariance Matrix

In [1]:
import pandas as pd
import numpy as np

Bad key "echo backend" on line 1 in
/Users/danieltoma/.matplotlib/matplotlibrc.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
prices = pd.read_csv('pages_252.csv')

In [3]:
prices.iloc[:3]

,Date,MCD,X,MT,MSFT,AAPL,K,GE,BAC,PFE,XOM,^GSPC
0,07-02-01,37.57,84.74,44.84,25.53,84.61,43.45,28.97,44.68,19.57,64.20,1406.82
1,07-03-01,38.74,94.76,46.63,25.26,92.91,44.83,29.34,44.85,19.80,67.58,1420.86
2,07-04-02,41.52,97.03,47.10,27.14,99.80,46.12,30.59,44.74,20.74,71.10,1482.37

In [4]:
prices.iloc[-1:]

,Date,MCD,X,MT,MSFT,AAPL,K,GE,BAC,PFE,XOM,^GSPC
60,12-02-01,99.99,31.01,23.3,30.77,493.17,50.21,19.13,8.18,21.14,84.88,1351.95

In [5]:
monthly_returns = pd.DataFrame(data=None, columns=prices.columns)

In [6]:
monthly_returns

Empty DataFrame
Columns: [Date, MCD, X, MT, MSFT, AAPL, K, GE, BAC, PFE, XOM, ^GSPC]
Index: []

In [7]:
monthly_returns = monthly_returns.iloc[0:0]
for row in range(0, prices.shape[0]):
    monthly_returns = monthly_returns.append({'Date':prices.iloc[row][0]}, ignore_index=True)
    for col in range(1, 12):
        monthly_returns.iloc[:,col] = np.log(prices.iloc[:,col]/prices.iloc[:,col].shift(1))

In [8]:
monthly_returns.head()

,Date,MCD,X,MT,MSFT,AAPL,K,GE,BAC,PFE,XOM,^GSPC
0,07-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07-03-01,0.030667,0.111760,0.039144,-0.010632,0.093579,0.031267,0.012691,0.003798,0.011684,0.051309,0.009930
2,07-04-02,0.069303,0.023673,0.010029,0.071787,0.071537,0.028369,0.041721,-0.002456,0.046382,0.050775,0.042380
3,07-05-01,0.045896,0.110162,0.121597,0.027976,0.194191,0.025475,0.019104,0.007349,0.048928,0.050864,0.032031
4,07-06-01,0.004132,-0.039830,0.039264,-0.040583,0.006989,-0.041430,0.025959,-0.036606,-0.072344,0.008519,-0.017977

In [9]:
monthly_returns.iloc[-1:]

,Date,MCD,X,MT,MSFT,AAPL,K,GE,BAC,PFE,XOM,^GSPC
60,12-02-01,0.009445,0.028457,0.127053,0.041133,0.077309,0.013838,0.0222,0.137381,-0.00189,0.01903,0.029683

In [10]:
monthly_returns_means = np.array(monthly_returns.mean())
monthly_returns_means

array([ 0.01631441, -0.01675463, -0.01091079,  0.00311143,  0.02938002,
        0.00241006, -0.00691672, -0.02829723,  0.00128615,  0.00465392,
       -0.00066306])

In [11]:
excess_returns = monthly_returns.iloc[1: , 1:] - monthly_returns_means
excess_returns.tail()

,MCD,X,MT,MSFT,AAPL,K,GE,BAC,PFE,XOM,^GSPC
56,0.039466,0.158061,0.275618,0.064585,0.030325,0.016567,0.100597,0.138230,0.084425,0.067722,0.102970
57,0.019495,0.092557,-0.071369,-0.035800,-0.086780,-0.091301,-0.041994,-0.197783,0.049848,0.030973,-0.004408
58,0.032815,-0.014544,-0.026850,0.011635,0.028563,0.025868,0.134801,0.050116,0.074331,0.047701,0.009160
59,-0.029154,0.148487,0.131439,0.125738,0.090278,-0.023392,0.050616,0.277010,-0.012554,-0.016827,0.043323
60,-0.006869,0.045211,0.137964,0.038022,0.047929,0.011428,0.029116,0.165678,-0.003177,0.014376,0.030346

In [12]:
var_cov_matrix = np.dot(excess_returns.iloc[:,:-1].T,
                        excess_returns.iloc[:,:-1]) / (excess_returns['MCD'].count() - 1)

In [13]:
df_var_cov_matrix=pd.DataFrame(var_cov_matrix, columns=excess_returns.columns[0:-1], index=excess_returns.columns[0:-1])
df_var_cov_matrix

,MCD,X,MT,MSFT,AAPL,K,GE,BAC,PFE,XOM
MCD,0.002015,0.003676,0.002833,0.001507,0.001701,0.000674,0.002013,0.003120,0.001547,0.001087
X,0.003676,0.038041,0.028382,0.007567,0.011073,0.003088,0.012710,0.017614,0.004336,0.004346
MT,0.002833,0.028382,0.026745,0.006534,0.009678,0.003105,0.010215,0.013302,0.003751,0.003861
MSFT,0.001507,0.007567,0.006534,0.006274,0.004884,0.000985,0.004643,0.007930,0.001787,0.001449
AAPL,0.001701,0.011073,0.009678,0.004884,0.012579,0.001631,0.004906,0.004902,0.000675,0.001963
K,0.000674,0.003088,0.003105,0.000985,0.001631,0.002646,0.002751,0.004649,0.001142,0.000324
GE,0.002013,0.012710,0.010215,0.004643,0.004906,0.002751,0.012180,0.016323,0.004106,0.002214
BAC,0.003120,0.017614,0.013302,0.007930,0.004902,0.004649,0.016323,0.039298,0.007988,0.001745
PFE,0.001547,0.004336,0.003751,0.001787,0.000675,0.001142,0.004106,0.007988,0.004055,0.001118
XOM,0.001087,0.004346,0.003861,0.001449,0.001963,0.000324,0.002214,0.001745,0.001118,0.002611

In [14]:
#using numpy cov
df = monthly_returns.iloc[1:,1:-1]
n = len(df.columns)

In [15]:
matrix = pd.DataFrame(columns=df.columns[0:], index=df.columns[0:])
for i in range(0, n):
    for j in range(0, n):
        if i == j:
            matrix.iloc[i, j] = np.cov(df.iloc[:,i],df.iloc[:,j])[0][0]
        else:
            matrix.iloc[i, j] = np.cov(df.iloc[:,i],df.iloc[:,j])[0][1]

In [16]:
matrix

,MCD,X,MT,MSFT,AAPL,K,GE,BAC,PFE,XOM
MCD,0.00201467,0.0036761,0.00283265,0.00150689,0.0017012,0.00067419,0.00201308,0.00311958,0.0015466,0.00108734
X,0.0036761,0.038041,0.0283819,0.00756709,0.0110727,0.00308781,0.0127097,0.0176143,0.00433613,0.00434589
MT,0.00283265,0.0283819,0.0267449,0.0065338,0.00967843,0.00310548,0.0102146,0.0133015,0.00375092,0.00386071
MSFT,0.00150689,0.00756709,0.0065338,0.00627407,0.00488378,0.000984541,0.00464337,0.00793032,0.00178662,0.00144937
AAPL,0.0017012,0.0110727,0.00967843,0.00488378,0.0125786,0.00163062,0.0049065,0.00490206,0.000674698,0.00196276
K,0.00067419,0.00308781,0.00310548,0.000984541,0.00163062,0.00264577,0.00275115,0.0046491,0.00114208,0.000324341
GE,0.00201308,0.0127097,0.0102146,0.00464337,0.0049065,0.00275115,0.0121801,0.0163232,0.00410552,0.00221408
BAC,0.00311958,0.0176143,0.0133015,0.00793032,0.00490206,0.0046491,0.0163232,0.039298,0.00798768,0.00174483
PFE,0.0015466,0.00433613,0.00375092,0.00178662,0.000674698,0.00114208,0.00410552,0.00798768,0.0040549,0.00111758
XOM,0.00108734,0.00434589,0.00386071,0.00144937,0.00196276,0.000324341,0.00221408,0.00174483,0.00111758,0.00261056

In [17]:
#Compare/check both ways
dif=matrix - df_var_cov_matrix
dif.style.format("{0:.8f}")

#### The Correlation Matrix

In [18]:
correlation = pd.DataFrame(columns=df.columns[0:], index=df.columns[0:])
for i in range(0, n):
    for j in range(0, n):
        if i == j:
            correlation.iloc[i, j] = np.corrcoef(df.iloc[:,i])
        else:
            correlation.iloc[i, j] = np.corrcoef(df.iloc[:,i],df.iloc[:,j])[0][1]

In [19]:
correlation

,MCD,X,MT,MSFT,AAPL,K,GE,BAC,PFE,XOM
MCD,1,0.419913,0.385896,0.423843,0.337939,0.292014,0.406381,0.350597,0.541112,0.474129
X,0.419913,1,0.889805,0.48981,0.506185,0.307786,0.590448,0.455568,0.349129,0.4361
MT,0.385896,0.889805,1,0.504395,0.527676,0.369175,0.565943,0.410295,0.360186,0.462041
MSFT,0.423843,0.48981,0.504395,1,0.549749,0.241648,0.531169,0.505046,0.354216,0.358127
AAPL,0.337939,0.506185,0.527676,0.549749,1,0.282657,0.396396,0.220484,0.0944719,0.342518
K,0.292014,0.307786,0.369175,0.241648,0.282657,1,0.484631,0.45594,0.348683,0.123412
GE,0.406381,0.590448,0.565943,0.531169,0.396396,0.484631,1,0.746097,0.584188,0.392646
BAC,0.350597,0.455568,0.410295,0.505046,0.220484,0.45594,0.746097,1,0.632769,0.172266
PFE,0.541112,0.349129,0.360186,0.354216,0.0944719,0.348683,0.584188,0.632769,1,0.343497
XOM,0.474129,0.4361,0.462041,0.358127,0.342518,0.123412,0.392646,0.172266,0.343497,1

In [20]:
correlation = pd.DataFrame(columns=df.columns[0:], index=df.columns[0:])
for i in range(0, n):
    for j in range(0, n):
        if i == j:
            correlation.iloc[i, j] = np.corrcoef(df.iloc[:,i])
        elif i > j:
            correlation.iloc[i, j] = ""
        else:
            correlation.iloc[i, j] = np.corrcoef(df.iloc[:,i],df.iloc[:,j])[0][1]

In [21]:
correlation

,MCD,X,MT,MSFT,AAPL,K,GE,BAC,PFE,XOM
MCD,1,0.419913,0.385896,0.423843,0.337939,0.292014,0.406381,0.350597,0.541112,0.474129
X,,1,0.889805,0.48981,0.506185,0.307786,0.590448,0.455568,0.349129,0.4361
MT,,,1,0.504395,0.527676,0.369175,0.565943,0.410295,0.360186,0.462041
MSFT,,,,1,0.549749,0.241648,0.531169,0.505046,0.354216,0.358127
AAPL,,,,,1,0.282657,0.396396,0.220484,0.0944719,0.342518
K,,,,,,1,0.484631,0.45594,0.348683,0.123412
GE,,,,,,,1,0.746097,0.584188,0.392646
BAC,,,,,,,,1,0.632769,0.172266
PFE,,,,,,,,,1,0.343497
XOM,,,,,,,,,,1

#### Computing the Global Minimum Variance Portfolio (GMVP)

In [22]:
unitrowvector = np.ones(len(matrix.columns))
unitrowvector

array([ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [23]:
GMVP_as_row = np.dot(unitrowvector, matrix) / sum(np.dot(unitrowvector, matrix))
GMVP_as_row

array([0.03263556045004648, 0.21166614878717807, 0.17538175370106318,
       0.070472855700104794, 0.087349347918602757, 0.033966685250308527,
       0.11658361228766599, 0.18907795118998658, 0.049348553786726319,
       0.033517530928317218], dtype=object)

In [24]:
GMVP_as_column = np.array([GMVP_as_row]).T
GMVP_as_column

array([[0.03263556045004648],
       [0.21166614878717807],
       [0.17538175370106318],
       [0.070472855700104794],
       [0.087349347918602757],
       [0.033966685250308527],
       [0.11658361228766599],
       [0.18907795118998658],
       [0.049348553786726319],
       [0.033517530928317218]], dtype=object)

In [25]:
#GMVP statistics
#Mean
sum(x*y for x,y in zip(GMVP_as_row, monthly_returns_means[0:-1]))

-0.0079973533070672783

In [26]:
#Variance
np.dot(np.dot(GMVP_as_row, matrix), GMVP_as_column)[0]

0.012992296505930223

In [27]:
#Sigma
np.sqrt(np.dot(np.dot(GMVP_as_row, matrix), GMVP_as_column)[0])

0.11398375544756464

#### Four Alternatives to the Sample Variance-Covariance: The Single-Index Model (SIM)

In [28]:
from scipy.stats import linregress

In [29]:
assetdata = monthly_returns.iloc[1:,1:-1]
marketdata = monthly_returns.iloc[1:,-1]
sim = pd.DataFrame(columns=df.columns[0:], index=df.columns[0:])
for i in range(0, n):
    for j in range(0, n):
        if i == j:
            sim.iloc[i, j] = np.var(assetdata.iloc[:,i], ddof=1)
        else:
            sim.iloc[i, j] = linregress(marketdata, assetdata.iloc[:,i]
                                       ).slope * linregress(marketdata, assetdata.iloc[:,j],
                                                           ).slope * np.var(marketdata, ddof=1)

In [30]:
sim

,MCD,X,MT,MSFT,AAPL,K,GE,BAC,PFE,XOM
MCD,0.00201467,0.0035921,0.00308002,0.00131326,0.00162254,0.000591783,0.00211874,0.00317199,0.000915625,0.000646916
X,0.0035921,0.038041,0.0198473,0.00846245,0.0104554,0.00381337,0.0136529,0.0204399,0.00590017,0.00416864
MT,0.00308002,0.0198473,0.0267449,0.00725607,0.00896495,0.00326975,0.0117066,0.0175261,0.00505906,0.00357437
MSFT,0.00131326,0.00846245,0.00725607,0.00627407,0.00382246,0.00139415,0.00499143,0.00747274,0.00215707,0.00152404
AAPL,0.00162254,0.0104554,0.00896495,0.00382246,0.0125786,0.00172249,0.00616696,0.00923265,0.00266509,0.00188296
K,0.000591783,0.00381337,0.00326975,0.00139415,0.00172249,0.00264577,0.00224925,0.00336739,0.000972027,0.000686765
GE,0.00211874,0.0136529,0.0117066,0.00499143,0.00616696,0.00224925,0.0121801,0.0120561,0.00348011,0.0024588
BAC,0.00317199,0.0204399,0.0175261,0.00747274,0.00923265,0.00336739,0.0120561,0.039298,0.00521012,0.0036811
PFE,0.000915625,0.00590017,0.00505906,0.00215707,0.00266509,0.000972027,0.00348011,0.00521012,0.0040549,0.00106258
XOM,0.000646916,0.00416864,0.00357437,0.00152404,0.00188296,0.000686765,0.0024588,0.0036811,0.00106258,0.00261056

#### Alternatives to the Sample Variance-Covariance: Constant Correlation

In [31]:
corr = 0.2

In [32]:
const = pd.DataFrame(columns=df.columns[0:], index=df.columns[0:])
for i in range(0, n):
    for j in range(0, n):
        if i == j:
            const.iloc[i, j] = np.var(assetdata.iloc[:,i], ddof=1)
        else:
            const.iloc[i, j] = corr * np.std(assetdata.iloc[:,i], ddof=1) * np.std(assetdata.iloc[:,j], ddof=1)

In [33]:
const

,MCD,X,MT,MSFT,AAPL,K,GE,BAC,PFE,XOM
MCD,0.00201467,0.00175089,0.00146809,0.000711061,0.00100681,0.000461751,0.000990736,0.00177958,0.000571639,0.000458668
X,0.00175089,0.038041,0.00637935,0.0030898,0.00437495,0.00200647,0.00430509,0.00773288,0.00248397,0.00199307
MT,0.00146809,0.00637935,0.0267449,0.00259075,0.00366832,0.00168239,0.00360974,0.00648389,0.00208277,0.00167116
MSFT,0.000711061,0.0030898,0.00259075,0.00627407,0.00177673,0.000814856,0.00174836,0.00314044,0.00100878,0.000809415
AAPL,0.00100681,0.00437495,0.00366832,0.00177673,0.0125786,0.00115378,0.00247556,0.00444664,0.00142836,0.00114608
K,0.000461751,0.00200647,0.00168239,0.000814856,0.00115378,0.00264577,0.00113536,0.00203935,0.000655083,0.000525621
GE,0.000990736,0.00430509,0.00360974,0.00174836,0.00247556,0.00113536,0.0121801,0.00437564,0.00140555,0.00112778
BAC,0.00177958,0.00773288,0.00648389,0.00314044,0.00444664,0.00203935,0.00437564,0.039298,0.00252467,0.00202573
PFE,0.000571639,0.00248397,0.00208277,0.00100878,0.00142836,0.000655083,0.00140555,0.00252467,0.0040549,0.000650709
XOM,0.000458668,0.00199307,0.00167116,0.000809415,0.00114608,0.000525621,0.00112778,0.00202573,0.000650709,0.00261056

#### Using Option Information to Compute the Variance Matrix

In [34]:
options = pd.read_csv('pages_269.csv')

In [35]:
options

    Stock  Stock price  Strike  Price
0     MCD        90.25      90   2.09
1       X        20.28      20   1.58
2      MT        14.67      15   0.75
3    MSFT        29.74      30   1.07
4    AAPL       608.21     610  25.30
5       K        48.98      50   0.40
6      GE        19.62      20   0.39
7     BAC         7.48       8   0.22
8     PFE        22.44      23   0.18
9     XOM        83.11      85   0.90
10  ^GSPC      1341.47    1350  22.50

In [36]:
def CallVolatility(Stock, Exercise, Time, Interest, Target):
    High = 2
    Low = 0
    while (High - Low) > 0.0001:
        if BSCall(Stock, Exercise, Time, Interest, (High + Low) / 2) > Target:
            High = (High + Low) / 2
        else:
            Low = (High + Low) / 2
    CallVolatility = (High + Low) / 2
    return CallVolatility

In [37]:
from scipy.stats import norm

In [38]:
def BSCall(Stock, Exercise, Time, Interest, sigma):
    BSCall = Stock * norm.cdf(dOne(Stock, Exercise, Time, Interest, sigma)
                    ) - Exercise * np.exp(-Time * Interest) * norm.cdf(dTwo(Stock, Exercise, Time, Interest, sigma))
    return BSCall

In [39]:
def dOne(Stock, Exercise, Time, Interest, sigma):
    dOne = (np.log(Stock / Exercise) + Interest * Time) / (sigma * np.sqrt(Time)) + 0.5 * sigma * np.sqrt(Time)
    return dOne

In [40]:
def dTwo(Stock, Exercise, Time, Interest, sigma):
    dTwo = dOne(Stock, Exercise, Time, Interest, sigma) - sigma * np.sqrt(Time)
    return dTwo

In [41]:
import datetime

In [42]:
current_date = datetime.date(2012, 7, 10)
expire_date = datetime.date(2012, 8, 17)
interest = 0.01
dif=(expire_date-current_date).days / 365

In [43]:
options['Implied volatility'] = options.apply(lambda row: CallVolatility(row['Stock price'], row['Strike'],
                                                                         dif, interest, row['Price']), axis=1)

In [44]:
options

    Stock  Stock price  Strike  Price  Implied volatility
0     MCD        90.25      90   2.09            0.165009
1       X        20.28      20   1.58            0.550507
2      MT        14.67      15   0.75            0.471222
3    MSFT        29.74      30   1.07            0.307404
4    AAPL       608.21     610  25.30            0.330353
5       K        48.98      50   0.40            0.124359
6      GE        19.62      20   0.39            0.216278
7     BAC         7.48       8   0.22            0.430389
8     PFE        22.44      23   0.18            0.133759
9     XOM        83.11      85   0.90            0.152252
10  ^GSPC      1341.47    1350  22.50            0.149628

In [45]:
ImpliedVolVarCov = pd.DataFrame(columns=df.columns[0:], index=df.columns[0:])
volatilities = options['Implied volatility']
corr = 0.2
for i in range(0, n):
    for j in range(0, n):
        if i == j:
            ImpliedVolVarCov.iloc[i, j] = volatilities[i] ** 2
        else:
            ImpliedVolVarCov.iloc[i, j] = corr * volatilities[i] * volatilities[j]

In [46]:
ImpliedVolVarCov

,MCD,X,MT,MSFT,AAPL,K,GE,BAC,PFE,XOM
MCD,0.0272278,0.0181677,0.0155511,0.0101448,0.0109022,0.00410406,0.00713755,0.0142036,0.00441426,0.00502458
X,0.0181677,0.303058,0.0518822,0.0338455,0.0363723,0.0136921,0.0238125,0.0473864,0.014727,0.0167632
MT,0.0155511,0.0518822,0.22205,0.0289711,0.0311339,0.0117201,0.020383,0.0405618,0.012606,0.0143489
MSFT,0.0101448,0.0338455,0.0289711,0.094497,0.0203103,0.00764569,0.0132969,0.0264606,0.00822357,0.00936057
AAPL,0.0109022,0.0363723,0.0311339,0.0203103,0.109133,0.00821648,0.0142896,0.0284361,0.0088375,0.0100594
K,0.00410406,0.0136921,0.0117201,0.00764569,0.00821648,0.0154652,0.00537923,0.0107046,0.00332682,0.00378679
GE,0.00713755,0.0238125,0.020383,0.0132969,0.0142896,0.00537923,0.0467762,0.0186168,0.00578581,0.00658576
BAC,0.0142036,0.0473864,0.0405618,0.0264606,0.0284361,0.0107046,0.0186168,0.185235,0.0115137,0.0131055
PFE,0.00441426,0.014727,0.012606,0.00822357,0.0088375,0.00332682,0.00578581,0.0115137,0.0178913,0.00407301
XOM,0.00502458,0.0167632,0.0143489,0.00936057,0.0100594,0.00378679,0.00658576,0.0131055,0.00407301,0.0231807